body{
    margin: 0;
    padding: 0;
    height: 100vh;
  }
  
  .container{
    margin: 20px;
  }
  
  .row{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .a-01{
    background: #e964f5;
    position: relative;
    flex: 1;
    max-width: auto;
    height: 150px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .a-02{
    background: #000000;
    position: relative;
    flex: 1;
    max-width: auto;
    height: 200px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .a-03{
    background: #e964f5;
    position: relative;
    flex: 1;
    max-width: auto;
    height: 300px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  .a-04{
      background: #000000;
      position: relative;
      flex: 1;
      max-width: auto;
      height: 220px;
      margin: 10px;
      border-radius: 5px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }
    
    @media (max-width:768px){
      .a-01{
        flex: 100%;
        max-width: 768px;
      }
    
      .a-02{
        flex: 100%;
        max-width: 768px;
      }
    
      .a-03{
        flex: 100%;
        max-width: 768px;
      }
      .a-04{
        flex:35%; padding:25px;
        border-left: none;
        }
    }
Collap